* {
    box-sizing: border-box;
    /* Remove mobile weird styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    color: #15585b
}

footer {
    background-color: rgb(241 245 249);
}
